{% extends "base.html" %}
{% block content %}

<h3 class="mb-4">{{ course.title }}</h3>

{% for section in sections %}

<div class="card p-4 mb-4">

    <h5>{{ section.order }}. {{ section.title }}</h5>

    {% if section.video_path %}
        <video controls class="w-100 mb-3">
            <source src="{{ url_for('static', filename=section.video_path) }}" type="video/mp4">
        </video>
    {% endif %}

    {% if section.document_path %}
        <a href="/{{ section.document_path }}"
           target="_blank"
           class="btn btn-accent-outline mb-3">
           View Document
        </a>
    {% endif %}

    <!-- MCQs -->
    {% for mcq in section.mcqs %}
        <div class="mcq-box mb-3">
            <p><strong>{{ mcq.question }}</strong></p>

            <form method="POST"
                  action="/mcq/{{ mcq.id }}/submit">

                <input type="radio" name="answer" value="A"> {{ mcq.option_a }}<br>
                <input type="radio" name="answer" value="B"> {{ mcq.option_b }}<br>
                <input type="radio" name="answer" value="C"> {{ mcq.option_c }}<br>
                <input type="radio" name="answer" value="D"> {{ mcq.option_d }}<br>

                <button class="btn btn-sm btn-accent mt-2">
                    Submit Answer
                </button>
            </form>
        </div>
    {% endfor %}

    <a href="/section/{{ section.id }}/complete"
       class="btn btn-success">
        Mark Section Complete
    </a>

</div>

{% endfor %}

{% endblock %}