{% extends "base.html" %}

{% block content %}
<div class="card p-4 shadow">
    <h2>Create Course</h2>

    <form method="POST" enctype="multipart/form-data">

        <input type="text" name="title" class="form-control mb-3" placeholder="Course Title" required>

        <textarea name="description" class="form-control mb-3" placeholder="Description"></textarea>

        <input type="text" name="tags" class="form-control mb-3" placeholder="Tags (e.g. Python, ML, Guitar)" required>

        <input type="number" name="duration" class="form-control mb-3" placeholder="Duration (in minutes)" required>
        <input type="file" name="thumbnail" class="form-control mb-3">
        <label>Upload Video</label>
        <input type="file" name="video" class="form-control mb-3" required>

        <label>Upload Document (Optional)</label>
        <input type="file" name="document" class="form-control mb-3">

        <button class="btn btn-primary w-100">Create Course</button>
    </form>
</div>
{% endblock %}