{% extends "base.html" %}
{% block content %}

<div class="container py-5">

    <div class="form-wrapper mx-auto">

        <div class="glass-card p-5">

            <div class="text-center mb-4">
                <h3 class="fw-bold mb-2">Create a New Course</h3>
                <p class="small text-muted">
                    Turn your skills into structured knowledge.
                </p>
            </div>

            <form method="POST">

                <div class="mb-4">
                    <label class="form-label">Course Title</label>
                    <input type="text"
                           name="title"
                           class="form-control"
                           placeholder="Master Python From Scratch"
                           required>
                </div>

                <div class="mb-4">
                    <label class="form-label">Course Description</label>
                    <textarea name="description"
                              class="form-control"
                              placeholder="Explain what students will learn and why it matters."
                              required></textarea>
                </div>

                <div class="mb-4">
                    <label class="form-label">Tags</label>
                    <input type="text"
                           name="tags"
                           class="form-control"
                           placeholder="Python, Backend, Programming"
                           required>
                    <small class="text-muted">
                        Helps learners discover your course.
                    </small>
                </div>

                <div class="mb-4">
                    <label class="form-label">Credits Required</label>
                    <input type="number"
                           name="credits_required"
                           class="form-control"
                           placeholder="50"
                           required>
                </div>

                <button class="btn btn-accent w-100 py-2">
                    Create & Start Building
                </button>

            </form>

        </div>

    </div>

</div>

{% endblock %}